<?xml version="1.0" encoding="UTF-8"?>
<suite name="GitHubtestingProject">
    <test name="Test" preserve-order="true">
        <classes>
            <class name="by.karpenia.test.GitHubTests"></class>
            <methods>
                <include name="setUpAndLogin"></include>
                <include name="changeEmailPreferencesInSettings"></include>
                <include name="newRepositoryCreateAndDelete"></include>
                <include name="changePublicEmailInProfile"></include>
            </methods>
        </classes>

    </test>

</suite>